name: Fetch data

on:
  workflow_dispatch:
  schedule:
    # Runs every hour
    - cron: "0 * * * *"
  push:
    branches:
      - main
    paths:
      - "script/**"
      - ".github/workflows/fetch_data.yml"

jobs:
  fetch:
    runs-on: ubuntu-latest
    env:
      GITHUB_API_TOKEN: ${{ secrets.API_TOKEN_GITHUB }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup node.js
        uses: actions/setup-node@v3
      - name: Setup
        run: |
          corepack enable
          yarn global add typescript
          yarn global add ts-node
          cd script
          yarn install
      - name: Run fetch script
        run: |
          cd script
          yarn start
